BODY {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
TD {
	FONT-SIZE: 12px
}
.sidebar {
	BORDER-RIGHT: #cccccc 1px dashed; BORDER-TOP: #cccccc 1px; BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px; BACKGROUND-COLOR: #B2B1EB
}
A:active {
	COLOR: #00008b; TEXT-DECORATION: none
}
A:link {
	COLOR: #00008b; TEXT-DECORATION: none
}
A:visited {
	COLOR: #00008b; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
H1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 15px
}
H4 {
	BORDER-RIGHT: #cccccc 1px; BORDER-TOP: #cccccc 1px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px; PADDING-TOP: 15px; BORDER-BOTTOM: #cccccc 1px dashed
}
.download-panel {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.copyright {
	BORDER-RIGHT: #cccccc 1px; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px; TEXT-ALIGN: center
}
.download-title {
	FONT-SIZE: 24px; COLOR: #ff3300
}
.download-title A:link {
	FONT-SIZE: 24px; COLOR: #FF3300
}
.download-title A:visited {
	FONT-SIZE: 24px; COLOR: #FF3300
}
.download-title A:hover {
	FONT-SIZE: 24px; COLOR: red; text-decoration:underline;
}
.langtable {
	COLOR: #999999
}
TABLE.langtable A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
TABLE.langtable A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.polltable {
	BACKGROUND-COLOR: #ececec
}
.polltitle {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #e3e3e3
}
.li {
	MARGIN: 5px
}
.style2 {
	COLOR: #ffffff
}
.emphlink {
	COLOR: #FF3300;
	background-color:#CCFF33;
}
.emphlink A:link {
	COLOR: #FF3300; TEXT-DECORATION: none
}
.emphlink A:visited {
	COLOR: #FF3300; TEXT-DECORATION: none
}
